body{
    background-color: hsla(0, 0%, 100% , 1);
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

@media only screen and (max-width: 900px) {
    body {
      flex-direction: column;
    }
    .results-section__description{
        min-width: 20rem;
    }
    .summary-section{
        margin: -1rem 0 0 0;
    }
    

  }
@media only screen and (max-width: 400px) {
    .results-section{
        margin: 0 0 0 2rem;
    }
    
  }
